* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

.auth-logo {
    width: 300px;
    margin-bottom: 20px;
}

.auth-logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.auth-form {
    padding: 40px;
    width: 400px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 380px;
    background: white;
}

.auth-form h1 {
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    line-height: 1.3;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 9px;
    width: 100%;
}

.icon {
    margin-right: 10px;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    background: transparent;
}

.error {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
}

.auth-button {
    background: #2061d8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.auth-button:hover {
    background: #78036a;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.auth-footer {
    font-size: 14px;
    color: rgb(82, 66, 66);
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 30px;
    
}

.auth-footer span {
    margin-right: 5px;
}

.auth-footer a {
    color: rgb(15, 125, 250);
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    padding: 5px;
}

.auth-footer a:hover {
    color: #df00c9;
}

@media screen and (max-width: 768px) {
    .auth-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .auth-logo {
        width: 150px;
        margin-bottom: 20px;
    }

    .auth-form {
        width: 90%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .auth-footer {
        margin-top: 90px;
    }
}

hr {
    border: none;
    border-top: 1px solid gray;
    margin: 10px 0;
    width: 100%;
}
