
.close-button {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
   
}


@media (min-width: 768px) {
    .close-button {
      
        display: none; 
    }
}


.close-button:hover {
    color: #ff0000;
}


.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    padding-top: 30px;
    border-right: 1px solid #ddd;
    z-index: 100;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.menu-icon {
    padding: 25px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
  
    
}

.menu-icon i {
    margin-right: 10px;
    font-size: 20px;
}


.menu-icon:hover {
    background-color: #2653829f;
    color: #ffffff;
}



@media (max-width: 767px) {
    .menu-button {
        display: block;
        font-size: 30px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 100;
        color: #343a40;
    }

    .menu-container {
        width: 0;
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #343a40;
        transition: width 0.3s ease;
    }

    .menu-container.show {
        width: 250px;
        
    }

    .menu-icon {
        
        display: block;
        padding: 25px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        font-size: 18px;
        color: white;
        background-color: transparent;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
    }

    .menu-icon i {
        margin-right: 10px;
        font-size: 20px;
    }

    .menu-icon:hover {
        background-color: #007bff;
        color: #ffffff;
    }
}

.menu-logo {
    
    text-align: center;
    margin-bottom: 20px; 
    margin-left: 65px;
   
}

.menu-logo img {
    
    width: 100px; 
    height: auto; 
    object-fit: contain;
}
