
.menu-container {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #343a40;
    transition: all 0.3s ease; 
    z-index: 100; 
    overflow-y: auto; 
  }
  
  .menu-container.show {
    left: 0; 
  }
  
 
  .menu-button {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 10px;
    z-index: 101; 
    color: #343a40;

     }
  
 
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  
  .menu-icon {
    padding: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .menu-icon:hover {
    background-color: #007bff;
    color: white;
  }
  

  .menu-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu-logo img {
    width: 100px;
    height: auto;
  }
  
 
  @media (max-width: 767px) {
    .menu-container {
      width: 250px;
    }
  
    .menu-container.show {
      width: 250px;
    }
  }
