.menu-container {
  display: flex;

  align-items: center;
  background-color: rgb(22, 22, 86);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.menu-logo {
  height: 80px;
  width: 80px;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu a {
  padding: 2px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  
}

.menu a:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Button for small screens */
.menu-button {
  display: none;
  border: none;
  color: white;

  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
}



/* Responsive styles */
@media (max-width: 768px) {
  .menu-container {
    display: flex;
   justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 86);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  .menu {
    display: none; /* Hide the menu */
    flex-direction: column;
    background-color: rgb(22, 22, 86);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    
    padding: 10px;
    border-top: 1px solid #fff;
  }

  .menu.active {
    display: flex; /* Show the menu when active */
  }

  .menu-button {
    display: block; /* Show the menu button */
  }
  
}
